<%- include base/header.ejs %>

    <div class="main main-page">
        <div class="location clearfix">
            <h1><a href="/mission" title="fuck">消息中心</a></h1>
        </div>

        <div class="content">
            <div class="mission-message">
                <div class="mission-img"> </div>
                    <div class="clearfloat"></div>
                    <div class="mission-detail">
                        <div class="mission-employername">
                            <p class="mission-employername">阿狸</p>
                        </div>
                        <div></div>
                        <div class="mission-require">
                            <p class="mission-require">任务要求:</p>
                            <p class="mission-detailmessage text-ellipsis">射手天赋</p>
                        </div>

                    </div>
                    <div class="mission-pay">
                        <p>￥340</p>
                    </div>

                    <div class="mission-devide">
                        <hr>
                    </div>


                </div>
            </div>


        </div>
        <%- include base/baseJS.ejs %>
            <script type="text/javascript">
                (function() {
                    var fuck = 0;
                })();
            </script>
            <%- include base/footer.ejs %>