
html,body{
    height:100%;
}
body{
    font-family: 'Microsoft YaHei',sans-serif;
    line-height: 1.5;
    margin:0;
}
input,button{
    outline: none;
    border:none; 
}
input,textarea,button{
   font-family: 'Microsoft YaHei',sans-serif; 
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6,p,ul,li,nav,footer{
    margin:0;
    padding:0;
}
i,address,caption,cite,code,dfn,em,th,var{
    font-style: normal;
    font-weight: normal;
}
ul{
    list-style: none;
}
*{
    box-sizing: border-box;
}
:before,:after{
    box-sizing: border-box;
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.row:before,.row:after,.navbar:before,.navbar:after,.main:before,.main:after{
    display:table;
    content: "";
}
.clearfix:after,.row:after,.container:after,.navbar:after{
    clear:both;
}
.col-sm-4{
    width:33.33333333%;
    float:left;
}
.col-sm-3{
    width:25%;
    float:left;
}
.fL{
    float:left;
}
.fR{
    float:right;
}

/****************************
***********导航栏***********
****************************/
.navbar{
    position: fixed;
    width:100%;
    min-width: 750px;
    top:0;
    left:0;
    height:60px;
    background-color: #5ab8fe;
    color:#fff;
    text-align: center;
    z-index: 1;
}
.navbar a{
    color:#fff;
}
/*导航标题*/
.navbar-title{
    font-size: 30px;
    padding:7.5px 0 7.5px 140px;
    position: absolute;
    left:0;
    top:0;
}
@media (max-width: 1200px){
    .navbar-title {
        padding-left: 20px;
    }
}
/*导航选项*/
.navbar-option{
    padding:10px 0 ;
    text-align: center;
}
.navbar-option>li{
    display:inline-block;
    margin:0 26px;
    font-size: 22px;
}
.navbar-option-item{
    display:inline-block;
    padding:3.5px 10px;
    border-radius: 5px 5px ;
}
.navbar-active{
    background-color: #8acdff;
} 

/*导航账户*/
.navbar-account{
    position: absolute;
    right:35px;
    top:0;
    bottom:0;
}
.navbar-account>li{
    float:left;
    font-size: 18px;
    position: relative;
}
.navbar-account-item{
    display:inline-block;
    padding:16.5px 15px ;
}
/*账户名称*/
span.navbar-account-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    max-width: 150px;
    vertical-align: bottom;
    cursor:pointer;
}
/*三角按钮*/
.navbar-account-item .caret{
    border-width: 6px;
    margin-left: 8px;
}
/*信息提醒信封*/


/*************************
**********主栏*****
***************************/
.main{
    position: relative;
    width: 100%;
    min-height:100%;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    margin:0 auto ;
}
.main-page{
    position: relative;
    padding-bottom: 70px;
}
.content{
    position: relative;
    width: 780px;
    margin:0 auto ;
    min-height:100%;
    padding-top: 40px;
}

/********************
*********当前位置***
*******************/
.location{
    padding:25px 0 8px;
    margin-left: 10%;
}
.location>h1{
    float: left; 
    font-size: 30px;
    line-height: 35px;
    color:#5ab8fe; 
}
.location>h1>a{
   color:#5ab8fe; 
}


/************************
基本样式复用区
*************************/
.form-row{
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.bottom-blue-line{
    border-bottom: 1px solid #5ab8fe;
}
.text-ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
/*******************
******登陆*********
******************/

.login-form{
    margin-top: 50px;
}

input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}


.position-middle{
    position: relative;
    margin:0px auto;
    text-align: center;
}

.input-field{
    position: relative;
    margin:0px auto 40px;
    z-index: 1;
    height: 80px;
    width: 320px;
}



 input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset!important;
}

.input-content{
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 100;
    display: block;
    padding: 0 20px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    opacity: 0;
    float: right;
    font-size: 22px;
    transform: scale3d(1,0,1);
    transform-origin: 50% 100%;
    transition: opacity 0.3s,transform 0.3s;
   
}

.input-content:focus{
    opacity: 1;
    transform: scale3d(1,1,1);
}

.input-label{
    width: 100%;
    text-align: left;
    display: inline-block;
    float: right;
    color: #6a7989;
    font-size: 70%;
    cursor: text;
    padding: 0 40px;
    box-sizing: border-box;
    height: 80px;
}

.input-label::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: 50% 100%;
    transition: transform 0.3s;
}


.input-label-content{
    position: relative;
    display: block;
    padding: 45px 0;
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: text;
    box-sizing: border-box;
    font: 25px bold;
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.input-content:focus + .input-label::before,.input-filled .input-label::before{
    transform: scale3d(1,1.5,1);
}

.input-content:focus + .input-label .input-label-content,.input-filled .input-label-content{
    transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
    color: #5ab8fe;
}

.button-style{
    background: #5ab8fe;
    width: 300px;
    height: 45px;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #064c80;
    font-size: 22px;
    color: white;
    line-height: 45px;
}

.submit-button{
    margin: 70px;
}
/*******************
******任务列表*********
******************/
div.mission-img{
    height: 70px;
    width: 70px;
    float: left;
    position: relative;
    background-image:url("/images/login_01.png");
    background-repeat: no-repeat;

}
div.mission-require{
    display: inline-block;
}
p.mission-require,p.mission-detailmessage,.mission-employername{
    display: inline;
}
p.mission-employername{
    font-size: 35px;
    color: #B4DCFA;
}
p.mission-detailmessage{
    font-size:25px;
    color:#B4DCFA;
}
p.mission-require{
    color: #9B9B9B;
    font-size: 25px;
}
div.mission-pay{
    color:#B4DCFA;
    position: absolute;
    right: 0;
    font-size: 30px;
    top: 50%;
}
div.mission-employername{
    display: inline-block;
}