
html,body{
    height:100%;
}
body{
    font-family: 'Microsoft YaHei',sans-serif;
    line-height: 1.5;
    margin:0;
}
input,button{
    outline: none;
    border:none; 
}
input,textarea,button{
   font-family: 'Microsoft YaHei',sans-serif; 
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6,p,ul,li,nav,footer{
    margin:0;
    padding:0;
}
i,address,caption,cite,code,dfn,em,th,var{
    font-style: normal;
    font-weight: normal;
}
ul{
    list-style: none;
}
*{
    box-sizing: border-box;
}
:before,:after{
    box-sizing: border-box;
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.row:before,.row:after,.navbar:before,.navbar:after,.main:before,.main:after{
    display:table;
    content: "";
}
.clearfix:after,.row:after,.container:after,.navbar:after{
    clear:both;
}
.col-sm-4{
    width:33.33333333%;
    float:left;
}
.col-sm-3{
    width:25%;
    float:left;
}
.fL{
    float:left;
}
.fR{
    float:right;
}

/****************************
***********导航栏***********
****************************/
.navbar{
    position: fixed;
    width:100%;
    min-width: 750px;
    top:0;
    left:0;
    height:60px;
    background-color: #5ab8fe;
    color:#fff;
    text-align: center;
    z-index: 1;
}
.navbar a{
    color:#fff;
}
/*导航标题*/
.navbar-title{
    font-size: 30px;
    padding:7.5px 0 7.5px 140px;
    position: absolute;
    left:0;
    top:0;
}
@media (max-width: 1200px){
    .navbar-title {
        padding-left: 20px;
    }
}
/*导航选项*/
.navbar-option{
    padding:10px 0 ;
    text-align: center;
}
.navbar-option>li{
    display:inline-block;
    margin:0 26px;
    font-size: 22px;
}
.navbar-option-item{
    display:inline-block;
    padding:3.5px 10px;
    border-radius: 5px 5px ;
}
.navbar-active{
    background-color: #8acdff;
} 

/*导航账户*/
.navbar-account{
    position: absolute;
    right:35px;
    top:0;
    bottom:0;
}
.navbar-account>li{
    float:left;
    font-size: 18px;
    position: relative;
}
.navbar-account-item{
    display:inline-block;
    padding:16.5px 15px ;
}
/*账户名称*/
span.navbar-account-item{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    max-width: 150px;
    vertical-align: bottom;
    cursor:pointer;
}
/*三角按钮*/
.navbar-account-item .caret{
    border-width: 6px;
    margin-left: 8px;
}
/*信息提醒信封*/


/*************************
**********主栏*****
***************************/
.main{
    position: relative;
    width:780px;
    min-height:100%;
    padding-top: 60px;
    padding-right: 15px;
    padding-left: 15px;
    margin:0 auto ;
}
.main-page{
    position: relative;
    padding-bottom: 70px;
}

/************************
**********登录界面*******
**************************/
.login-info{
	font-size: 30px;
	height: 96px;
	
	color: #5ab8fe;
	line-height: 96px;
}

.login-group{
	text-align: center;

}

.login-group input{
	border-style: hidden hidden solid hidden;
	height: 68px;
	border-bottom-color:#5ab8fe; 
	border-width: 1px;
	width: 325px;
	font-size: 16.97px;
	-webkit-box-shadow: 0 0 0px 1000px white inset; 
}


.login-group img{
	width: 275px;
	height: 275px;
	background: black;
}
#login{
	margin: 0 auto;
    display: block;
    border-radius: 10px;
    height: 41px;
    width: 325px;
    background: #5ab8fe;
    margin-top: 97px;
    font-size: 21.22px;
    color: white;
    box-shadow: 5px 5px 5px #C9E8FF;
}








