
body{
    font-family: 'Microsoft YaHei',sans-serif;
    line-height: 1.5;
    margin:0;
}
button{
    outline: none;
    border:none; 
}
input,textarea,button{
   font-family: 'Microsoft YaHei',sans-serif; 
}
img{
    vertical-align: middle;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1,h2,h3,h4,h5,p,ul,li{
    margin:0;
    padding:0;
}
i,address,caption,cite,code,dfn,em,th,var{
    font-style: normal;
    font-weight: normal;
}
ul{
    list-style: none;
}
*{
    box-sizing: border-box;
}
:before,:after{
    box-sizing: border-box;
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.row:before,.row:after,.navbar:before,.navbar:after,.main:before,.main:after{
    display:table;
    content: "";
}
.clearfix:after,.row:after,.container:after,.navbar:after{
    clear:both;
}
.col-sm-4{
    width:33.33333333%;
    float:left;
}
.col-sm-3{
    width:25%;
    float:left;
}
.fL{
    float:left;
}
.fR{
    float:right;
}
/*文本单行超出省略号表示*/
.text-ellipsis{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.all-wrapper{
    position: relative;
    background-color: #f6fafb;
    overflow:hidden;
}
/*主栏*/
.main-wrapper{
    will-change: transform;
    background-color: inherit;
    position: relative;
    height:100%;
    z-index: 1;
}
.open .main-wrapper{
    -webkit-animation: open .35s ease-in-out;
        animation: open .35s ease-in-out;
    -webkit-transform:translateX(5.546667rem);
            transform:translateX(5.546667rem);
}
.close .main-wrapper{
    -webkit-animation: close .15s ease-in-out;
        animation: close .15s ease-in-out;
    -webkit-transform:none;
            transform:none;
}
@-webkit-keyframes open {
    0%      {-webkit-transform:translateX(0);}
    70%    {-webkit-transform:translateX(6.5rem);}
    100%  {-webkit-transform:translateX(5.546667rem);}
}
@keyframes open {
    0%      {transform:translateX(0);}
    70%    {transform:translateX(6.5rem);}
    100%  {transform:translateX(5.546667rem);}
}
@-webkit-keyframes close {
    0%      {-webkit-transform:translateX(5.546667rem);}
    100%  {-webkit-transform:translateX(0);}
}
@keyframes close {
    0%      {transform:translateX(5.546667rem);}
    100%  {transform:translateX(0);}
}
/**************
*****折叠状态****
***************/
/*侧栏出现时main上层遮罩*/
.mask{
    display:none;
}
.open .mask{
    display:block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 30;
    height:100%;
    background-color: #000;
    opacity: 0.1;
}
/*主内容容器*/
.mainContainer{
    height:100%;
    overflow-y: scroll;
    position: relative;
    z-index: 10;
}
/*小图标*/
.icon{
    display:inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: bottom;
}
/*******************************
**********移动端导航条*********
*********************************/
.navbar{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:1.133333rem;
    text-align: center;
    background-color: #5ab8fe;
    color:#fff;
    z-index: 20;
}
.navbar h1{
    font-size: 0.56rem;
    line-height: 1.133333rem;
}
/*导航折叠按钮*/
.navbar-toggle{
    position: absolute;
    display:block;
    padding: 0 0.466667rem ;
    width:1.466667rem;
    left:0;
    top:0;
    bottom:0;
    cursor: pointer;
    background: url(../images/navBtn_03.png) no-repeat ;
    background-position: center;
    background-size: 0.613333rem 0.4rem;
    background-color: inherit;
}
/****************************
******移动端侧栏*
****************************/
.sidebarContainer{
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    overflow:hidden;
    overflow-y: scroll;
}
.sidebar{
    width:5.546667rem;
    background-color: #53aaeb;
    color:#fff;
    min-height: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 1.333333rem;
   /* z-index: 1;*/
}
.sidebar>h1{
    font-size: 0.64rem;
    height:3.6rem;
    line-height: 3.6rem;
    border-bottom: 1px solid ;
}


/*侧栏选项*/
.navbar-option{
    padding:0.173333rem 0 0 0.373333rem;
    text-align: left;
    margin-bottom: 3.04rem;
    font-size:0.453333rem;
}


/*折叠账户*/
.navbar-account>li{
    margin-bottom: 0.37037rem;
    font-size: 0.462963rem; 
}
.navbar-account-item{
    display:block;
    width:3.703704rem;
    padding:0.185185rem 0 ;
    border-radius: 9px; 
    line-height: 0.509259rem;
    margin:0 auto;
}
a.navbar-account-item,button.navbar-account-item{
    background-color: #fff;
    color:#53aaeb;
    font-size: 0.462963rem; 
}
span.navbar-account-item{
    background-color: #5ab8fe;
    color:#fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
[data-dpr="2"] .navbar-account-item{
    border-radius: 18px;
}
[data-dpr="3"] .navbar-account-item{
    border-radius: 27px;
}
.navbar-account-item:before{
    /*height:0.5rem;*/
    height:0.509259rem;
    width:0.518519rem;
    margin-right: 0.166667rem;
}
.aNLog:nth-child(1) .navbar-account-item:before{
    background-image: url(../images/navbar-icons_02.png);
}
.aNLog:nth-child(2) .navbar-account-item:before{
    background-image: url(../images/navbar-icons_04.png);
}
.aLogged:nth-child(1) .navbar-account-item:before{
    background-image: url(../images/navbar-icons_05.png);
}
.aLogged:nth-child(2) .navbar-account-item:before{
    background-image: url(../images/exit_03.png);
}
.nav-anone{
    display:none;
}
.nav-ahidden{
    visibility: hidden;
}

/*************************
**********主栏*****
***************************/
.main{
    padding: 1.133333rem 0.466667rem 0;
    position: relative;
    background-color: inherit;
    width:100%;
    min-height: 100%;
}
.main-page{
    padding-bottom: 1.866667rem;
    position: relative;
}

/********************
********登录界面*****
*******************/
.login-info{
    font-size: 1.22425rem;
    height: 3.675rem;
    
    color: #5ab8fe;
    line-height: 3.675rem;
}


.login-group-img{
    width: 5rem;
    height: 5rem;
    background: black;
    margin:0.0rem auto 1.75rem;
}
.input{
    position: relative;
    margin:1rem auto 0px;
    z-index: 1;
    height: 2.0rem;
    width: 8.0rem;
    transition: all 0.5 linear 0.5;
    border-bottom: solid 1px #5ab8fe;
}

 input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset!important;
    }

.input-field{
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    z-index: 100;
    display: block;
    padding: 0 0.55em;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    color: #7F9004;
    opacity: 0;
    float: right;
    border: none;
    font-size: 0.5rem;
    transform: scale3d(1,0,1);
    transform-origin: 50% 100%;
    transition: opacity 0.3s,transform 0.3s;
   
}

.input-field:focus{
    opacity: 1;
    transform: scale3d(1,1,1);
}

.input-label{
    width: 100%;
    text-align: left;
    display: inline-block;
    float: right;
    color: #6a7989;
    font-size: 70%;
    cursor: text;
    padding: 0 1em;
    box-sizing: border-box;
    height: 2.0rem;
}

.input-label::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform-origin: 50% 100%;
    transition: transform 0.3s;
}


.input-label-content{
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
    height: 100%;
    text-align: left;
    cursor: text;
    box-sizing: border-box;
    font: 0.5rem bold;
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.input-field:focus + .input-label::before,.input-filled .input-label::before{
    transform: scale3d(1,1.5,1);
}

.input-field:focus + .input-label .input-label-content,.input-filled .input-label-content{
    transform: translate3d(0, -3.15em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
}

#login{
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
    height: 1.75rem;
    width: 7.0rem;
    background: #5ab8fe;
    margin: 2.825rem auto;
    font-size: 0.85rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0.25rem #C9E8FF;
}
